@import "tailwindcss";

:root {
  --color-accent: #F5C518;
  --color-dark: #1A1A1A;
  --color-muted: #6B7280;
}

@theme inline {
  --font-sans: var(--font-plus-jakarta);
  --font-headline: var(--font-plus-jakarta);
  --font-body: var(--font-be-vietnam);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fffde1;
  font-family: var(--font-plus-jakarta), 'Plus Jakarta Sans', sans-serif;
  color: #1c1c17;
}
